<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Panamericanos 2023</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/css/estadisticas.css">
    </head>
    <body>
        <div class="stats-container">
            <figure class="highcharts-figure">
                <div id="container1"></div>
                <p class="highcharts-description">
                    Gráfico del total de hinchas que apoyan a cada deporte
                </p>
            </figure>
        </div>
        <div class="espacio"></div>
        <div class="stats-container">
            <figure class="highcharts-figure">
                <div id="container2"></div>
                <p class="highcharts-description">
                    Gráfico del total de artesanos que hacen cada tipo de artesania
                </p>
            </figure>
        </div>
        <div class="espacio"></div>
        <div>
            <a style="display: flex; justify-content: center;" href="/">Inicio</a>
        </div>
        <div class="espacio"></div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="../static/js/estadisticas.js"></script>
    </body>
</html>